<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="copyright">Copyright © VacayBug 2014</h4>
            </div>
            <div class="col-md-4">
                <ul class="list-inline">
                    <li><a href="#"><img class="img-responsive" src="/assets/logo/logo-facebook.png"></a>
                    </li>
                    <li><a href="#"><img class="img-responsive" src="/assets/logo/logo-linkedin.png"></a>
                    </li>
                    <li><a href="#"><img class="img-responsive" src="/assets/logo/logo-twitter.png"></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="/">About</a></li>
                    <li><a href="/privacy">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
