<!-- Sign In Modal -->
<div class="guide-modal modal fade" id="signin" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>VacayBug Login</h2>
                        <p class="item-intro text-muted">Adventure Starts Here</p>
                        <form class="col-md-12">
                            <div class="row text-center">
                                <div class="col-md-4 col-sm-12">
                                    <button type="button" class="btn btn-primary btn-block">Facebook</button>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <button type="button" class="btn btn-info btn-block">Twitter</button>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <button type="button" class="btn btn-danger btn-block">Google+</button>
                                </div>
                            </div>
                            <hr />
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg" placeholder="Password">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                            </div>
                        </form>
                        <form action="http://www.vacaybug.us9.list-manage.com/subscribe/post?u=966c023f999f4d933716e4aa9&amp;id=e22664c95f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col-md-12" target="_blank" novalidate>
                            <p class="item-intro text-muted">Don't have an account? VacayBug is still in Beta, request an invite</p>
                            <div class="form-group col-md-8">
                                <input type="email" name="EMAIL" class="form-control required email" placeholder="Your Email *" id="mce-EMAIL">
                            </div>
                            <div style="position: absolute; left: -5000px;">
                                <input type="text" name="b_966c023f999f4d933716e4aa9_e22664c95f" tabindex="-1" value="">
                            </div>
                            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-invite col-md-4">
                        </form>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Return Home</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>