<nav class="navbar navbar-subnav navbar-static-top" role="navigation">
    <div class="container">

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subnav">
                <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-ellipsis-h"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="subnav">
            <ul class="nav navbar-nav">
                <li>
                    <a href="index.html"><i class="fa fa-fw icon-ship-wheel"></i> Newsfeed</a>
                </li>
                <li class="active">
                    <a href="user-private-profile.html"><i class="fa fa-fw icon-user-1"></i> My Profile</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="user-private-users.html">35 Followers</a>
                </li>
                <li>
                    <a href="user-private-users.html">56 Following</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
</nav>
