<% title 'Forgot Password' %>
<div class="container" id="devise-wrapper">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2 class="login-text">Forgot Password</h2>
            <p class="login-subtext">Adventure Starts Here</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <%= devise_error_messages! %>
            <h4 class="text-center">Enter Your Email Address</h4>
            <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                        <%= f.email_field :email, :autofocus => true, :class => 'form-control', :placeholder => 'Email Address' %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="form-group">
                            <div><%= f.submit "Reset My Password", :class => 'btn btn-primary btn-block' %></div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>
