<!DOCTYPE html>
<html lang="en">
    <head>
        <%= render 'generic/home_header' %>
        <meta name="description" content="">
        <meta name="author" content="">
        <title>VacayBug - About</title>
    </head>
    <body id="page-top">
        <%= render 'generic/home_navigation' %>
        <!-- Header -->
        <header id="aboutus">
            <div class="container about-us">
                <div class="intro-text">
                    <div class="intro-heading">Travel the world and love it</div>
                    <div class="intro-subheading"><em>“Twenty years from now you will be more disappointed by the things you didn’t do than by the ones you did do. So throw off the bowlines, sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover.”</em> - Mark Twain</div>
                    <a href="#overview" class="page-scroll btn btn-xl">Learn more about VacayBug</a>
                </div>
            </div>
        </header>
        <!-- Overview Section -->
        <section id="overview">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="aboutus-section-title">
                            About VacayBug
                        </div>
                        <div class="aboutus-section-content">
                            At VacayBug, our vision is to create the best travel experience for individuals by giving them access to customized itineraries created by locals or likeminded people. We want to allow our members to tell their unique story through their itineraries, and share with their friends and fellow travelers. With VacayBug, you can finally spend less time researching awesome places and more time enjoying those “must-see” attractions that you would have otherwise missed out on. Tap into our community of fellow travelers to begin experiencing the world like a local wherever you go.
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- Explore Section -->
        <section id="explore">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="aboutus-section-title">
                            Explore
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="aboutus-section-content">
                            Vacaybug founders were born and raised around the world and are therefore avid travelers themselves. However, they all experienced the same struggle when traveling- travel planning. They spent hours researching on the web and reading articles and reviews to come up with the perfect itinerary, only to realize that the perfect itinerary exists in the day-to-day life’s of locals. They decided to come together and to bridge the gap between being a tourist and exploring the world like a local.
                        </div>
                    </div> 
                </div>
            </div>
        </section>
        <!-- Dream Section -->
        <section id="dream">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="aboutus-section-content">
                            VacayBug allows you to easily create a wishlist of all of the places that you want to visit with the click of a button. Do you ever feel stuck in your day-to-day life and forget that there is a whole world out there to explore? Let VacayBug take care of the dreadful researching and planning to make that trip to Brazil that you’ve always dreamt of finally a reality. Get a step closer to making your travel dreams real by adding them to your wishlist. 
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="aboutus-section-title">
                            Dream
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Discover Section -->
        <section id="discover">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="aboutus-section-title">
                            Discover
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="aboutus-section-content">
                            Do you ever regret not knowing about a tuck-away viewpoint that oversees the entire San Francisco Bay Area? Did you miss out on that perfect Italian restaurant when you were in Rome? Avoid that cliché touristy and over priced restaurant and instead experience that hole-in-the-wall, authentic and insanely delicious eatery that only locals know of. VacayBug wants you to travel like a local so you will never miss out on the hidden gems of wherever you visit.
                        </div>
                    </div> 
                </div>
            </div>
        </section>

        <%= render 'generic/footer' %>

        <!-- Modals -->
        <!-- Use the modals below to showcase details about your guide projects! -->

        <!-- Sign In Modal -->
        <div class="guide-modal modal fade" id="signin" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="close-modal" data-dismiss="modal">
                    <div class="lr">
                        <div class="rl">
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <!-- Project Details Go Here -->
                                <h2>VacayBug Login</h2>
                                <p class="item-intro text-muted">Adventure Starts Here</p>
                                <form class="col-md-12">
                                    <div class="row text-center">
                                        <div class="col-md-4 col-sm-12">
                                            <button type="button" class="btn btn-primary btn-block">Facebook</button>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <button type="button" class="btn btn-info btn-block">Twitter</button>
                                        </div>
                                        <div class="col-md-4 col-sm-12">
                                            <button type="button" class="btn btn-danger btn-block">Google+</button>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <input type="text" class="form-control input-lg" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control input-lg" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary btn-lg btn-block">Sign In</button>
                                    </div>
                                </form>
                                <form action="http://www.vacaybug.us9.list-manage.com/subscribe/post?u=966c023f999f4d933716e4aa9&amp;id=e22664c95f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate col-md-12" target="_blank" novalidate>
                                    <p class="item-intro text-muted">Don't have an account? VacayBug is still in Beta, request an invite</p>
                                    <div class="form-group col-md-8">
                                        <input type="email" name="EMAIL" class="form-control required email" placeholder="Your Email *" id="mce-EMAIL">
                                    </div>
                                    <div style="position: absolute; left: -5000px;">
                                        <input type="text" name="b_966c023f999f4d933716e4aa9_e22664c95f" tabindex="-1" value="">
                                    </div>
                                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-invite col-md-4">
                                </form>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Return Home</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vacaybug -->
        <%= javascript_include_tag("application", :media => "all") %>
    </body>
</html>
