<!DOCTYPE html>
<html>
<head>
  <title>VacayBug | Guide</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'generic/header.html.erb' %>
</head>
<body id="guide-pdf">
	<div class="navbar navbar-primary navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<a class="nav-logo" href="/">
					<img src="/assets/nav-dark-logo.svg" width="200" height="60">
				</a>
			</div>
		</div>
	</div>
	<h1 class="pdf-heading text-center">San Francisco</br><span>California</span></h1>
	<div id="pdf-content">
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
		<div class="pdf-item">
			<div class="pdf-item-caption">
				<span class="item-number pull-left">1:</span>
				<h5 class="text-center">Iris Cafe</br><span>Fine Cafe</span></h5>
			</div>
			<div class="pdf-item-content">
				<p class="note">Loved the Jerk chicken and Goat curry/Oxtail combo. The fried plantains and rice/beans were all tasty. Definitely going back. Thanks, VacayBug for discovering this for us!</p>
				<p class="address text-center">80 N Market St<br>San Jose, CA 95113<br>(408) 294-8626</p>
				<a href="#" class="logos"><img width="100" src="/assets/guide/yelp.png"></a>
				<a href="#" class="logos"><img width="100" src="/assets/guide/tripadvisor.png"></a>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="map-caption">
		<h1 class="text-center">Explore the sun like never before</h1>
		<h2 class="text-center">San Francisco<br>California</h2>
		<h3 class="text-center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque.</h3>
	</div>
	<img src="/assets/guide/map.png" class="map-img img-responsive">
</body>
</html>