<h1 class="follower-header text-center">Your VacayBug Network</h1>
<div class="timeline row follower">
</div>
<h1 class="follower-network-header text-center">Expand Your Network</h1>
<h2 class="follower-subheader text-center">VacayBug users you might want to connect with:</h2>
<div class="timeline row">
</div>