<div class="container network-container">
	<h1 class="follower-header text-center">
		<%= user.get('id') == Vacaybug.current_user.id ? 'Your' : user.get("full_name") + "'s" %>
		Network
	</h1>
	<% if (count == 0) { %>
		<h2 class="follower-subheader text-center">You currently don't have any followers</h2>
	<% } else { %>
		<% if (types.followers) { %>
			<h2 class="follower-subheader text-center">
				Members that are following
				<%= user.get('id') == Vacaybug.current_user.id ? 'you' : user.get("full_name") %>
			</h2>
			<div class="timeline row followers"></div>
		<% } %>
		<% if (types.following) { %>
			<h2 class="follower-subheader text-center">
				Members that
				<%= user.get('id') == Vacaybug.current_user.id ? 'you are' : user.get("full_name") + " is" %>
				following:
			</h2>
			<div class="timeline row following"></div>
		<% } %>
	<% } %>
	<h2 class="follower-network-header text-center" style="margin-bottom: 40px">
		<a class="backbone" href="/members">See Members You Should Follow</a>
	</h2>
</div>
