<% if (collection.sync_status) { %>
    <% if (collection.length == 0) { %>
        <% if (profileView && profileView.model.get('id') == Vacaybug.current_user.id) { %>
        <div class="profile-private text-center">
            <a href="#guideModal" class="new-guide-btn-horizontal" data-toggle="modal"><img src="/assets/plus-icon.png"><br/>Create a Guide</a>
            <% if (type == 'wishlist') { %>
                <h4>Your Wishlist is currently empty</h4>
                <p>It will be private so you can store all the awesome places you wish to visit. Start filling up your Wishlist by clicking “Create a Guide"</p>
            <% } else { %>
                <h4>Your Passport is currently empty</h4>
                <p>It will be public so you can share all the awesome places you've visited with your followers. Start filling up your Passport by clicking "Create a Guide"</p>
            <% } %>
        </div>
        <% } else { %>
            <div class="profile-public text-center">
                <h4 class="profile-default-header">The passport is currently empty</h4>
                <p class="profile-default-subheader">Please check back later</p>
                <img class="profile-default-img img-responsive" src="/assets/default-profile.png">
            </div>
        <% } %>
    <% } else { %>
    <%
        var index = 0; 
        var c = collection.models;
        if (where == 'profile' && collection.models[0].get('user').id == Vacaybug.current_user.id) {
            c = $.merge([null], collection.models);
        }
    %>
    <% _.each(_.groupBy(c, function(value, index) { return parseInt(index / 3); }), function(row) { %>
        <div class="row">
            <% _.each(row, function(guide) { %>
                <% if (guide == null) { %>
                    <div class="col-md-4 col-sm-6">
                        <a href="#guideModal" class="new-guide-btn-vertical text-center" data-toggle="modal"><img src="/assets/plus-icon.png"><br/>Create a Guide</a>
                    </div>
                <% } else { %>
                    <div class="guide-card-container" data-id="<%= guide.get('id') %>">
                    </div>
                <% } %>
                <% index += 1; %>   
            <% }); %>
        </div>
    <% }); %>
    <% } %>
<% } %>