<div class="guide-heading">
    <h1 class="city-guide-heading"><%= _.escape(model.get('title')) %></h1>
    <h4 class="guide-author">By <a class="backbone" href="/users/<%= model.get('user').username %>"><%= model.get('user').full_name %></a></h4>
</div>
<div class="container guide-map">
    <div class="map-container">
    </div>
    <div class="guide-description">
        <div maxlength="250" class="guide-description-div" placeholder="Create a purpose here...."><%= _.escape(model.get('description')) %></div>
        <hr>
        <% if (model.get('user').id == Vacaybug.current_user.id) { %>
            <button class="btn btn-danger btn-guide-delete">Delete Guide</button>
        <% } else { %>
            <button class="btn btn-danger btn-guide-delete" style="visibility: hidden">Delete Guide</button>
        <% } %>
        <button class="btn btn-warning btn-guide-export">Export PDF</button>
    </div>
</div>
<div class="container guide-container">
    <div class="row guide-searchbar">
        <div class="col-md-8 col-md-offset-2">
            <input type="text" class="js-search-places form-control input-lg" placeholder="Search by landmark, restaurant, anything :)">
        </div>
    </div>
    <!-- When there is no places, show the below default message + image -->
    <h4 class="place-default-header">Welcome to your new guide</h4>
    <p class="place-default-subheader">Begin to build your personalized Guide by searching above.</p>
    <img class="place-default-img img-responsive" src="/assets/default-guide.png">
    <!-- End -->
    <div class="places-container">
    </div>
</div>