<h1 class="city-guide-heading text-center"><%= model.get('title') %></h1>
<div class="container guide-map">
    <div class="map-container">
    </div>
    <div class="guide-description">
        <textarea placeholder="Create a purpose here...."><%= model.get('description') %></textarea>
        <a class="btn btn-default js-save" href="javascript:void(0)"><i class="fa fa-check"></i> Save</a>
        <a class="btn btn-default js-cancel" href="javascript:void(0)"><i class="fa fa-times"></i> Cancel</a>
        <hr>
        <button class="btn btn-danger btn-guide-delete">Delete Guide</button>
        <button class="btn btn-warning btn-guide-export">Export PDF</button>
    </div>
</div>
<div class="container guide-container">
    <div class="row guide-searchbar">
        <div class="col-md-8 col-md-offset-2">
            <input type="text" class="js-search-places form-control input-lg" placeholder="Search by landmark, restaurant, anything :)">
        </div>
    </div>
    <div class="places-container">
    </div>
</div>
