<h1 class="city-guide-heading text-center"><%= model.get('title') %></h1>
<div class="container guide-map">
    <div class="map-container" style="height:395px">
    </div>
    <!-- style="position: absolute; top: 0px; right: 15px; width: 100%" -->
    <div class="row" >
        <div class="col-md-3 col-md-offset-9 guide-description">
            <textarea placeholder="Create a purpose here...."><%= model.get('description') %></textarea>
            <hr>
            <button class="btn btn-danger btn-guide-delete">Delete Guide</button>
            <button class="btn btn-warning btn-guide-export">Export PDF</button>
        </div>
    </div>
</div>
<div class="container guide-container">
    <div class="row guide-searchbar">
        <div class="col-md-8 col-md-offset-2">
            <input type="text" class="js-search-places form-control input-lg" placeholder="Search by landmark, restaurant, anything :)">
        </div>
    </div>
    <div class="places-container">
    </div>
</div>
