<% if (collection.sync_status) { %>
    <% _.each(_.groupBy(collection.models, function(value, index) { return parseInt(index / 3); }), function(row) { %>
        <div class="row">
            <% _.each(row, function(guide) { %>
                <div class="guide-card-container" data-id="<%= guide.get('id') %>">
                </div>
            <% }); %>
        </div>
    <% }); %>
<% } %>
