<% if (isPrivate) { %>
    <nav class="guide-searchbar-fixed">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <input type="text" class="js-search-places form-control input-lg" placeholder="Search by landmark, restaurant, anything :)">
                </div>
            </div>
        </div>
    </nav>
<% } %>
<div class="guide-heading">
    <h1 class="city-guide-heading"><%= _.escape(model.get('title')) %></h1>
    <h4 class="guide-author">By <a class="backbone" href="/<%= model.get('user').username %>"><%= model.get('user').full_name %></a></h4>
</div>
<div class="container guide-map">
    <div class="map-container">
    </div>
    <div class="guide-description">
        <div maxlength="200" class="guide-description-div"><%= _.escape(model.get('description')) %></div>
        <hr>
        <% if (model.get('user').id == Vacaybug.current_user.id) { %>
            <button class="btn btn-danger btn-guide-delete">Delete Guide</button>
        <% } %>
        <a class="btn btn-warning btn-guide-export" href="#exportpdf" data-toggle="modal">Export PDF</a>
    </div>
</div>
<div class="container guide-container">
        <% if (isPrivate) { %>
            <div class="row guide-searchbar">
                <div class="col-md-8 col-md-offset-2">
                    <input type="text" class="js-search-places form-control input-lg" placeholder="Search by landmark, restaurant, anything :)">
                </div>
            </div>
        <% } %>
        <div class="places-container">
        </div>
    </div>
</div>
<div class="modal fade" id="exportpdf" tabindex="-1" role="dialog" aria-labelledby="exportpdf" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Sneak Preview! Export Your  Guide to PDF!</h4>
            </div>
            <div class="modal-body">
                <img src="/assets/guidepdf.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var elementPosition = $('.places-container').offset();
    $(window).scroll(function(){
        if($(window).scrollTop() > elementPosition.top){
            $('.guide-searchbar-fixed').css({'opacity':'1'});
        } else {
            $('.guide-searchbar-fixed').css({'opacity':'0'});
        }    
    });
</script>