<div class="follower-search-container">
	<h2 class="follower-header">Search for people on VacayBug</h2>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 follower-searchbar">
			    <input class="js-searchbar typeahead form-control" type="text" placeholder="Type a name or username">
			    <i class="fa fa-search"></i>
			</div>
		</div>
	</div>
</div>
<h1 class="follower-header text-center">Members You Should Follow</h1>
<div class="container network-container">
	<div class="timeline row"></div>
</div>
<div class="row" style="text-align: center; padding-bottom: 20px; font-size: 20px">
	<%= Vacaybug.render_pagination("/members/{0}", collection.total_pages, parseInt(collection.page)) %>
</div>
