<h1 class="follower-header text-center">Members</h1>
<div class="timeline row"></div>
<div class="row" style="text-align: center">
	<%= Vacaybug.render_pagination("/members/{0}", collection.total_pages, parseInt(collection.page)) %>
</div>
