<div class="timeline-block">
    <div class="panel panel-default newsfeed share">
        <div class="panel-heading">
            <div class="media">
                <a href="" class="pull-left">
                    <img src="/assets/people/50/guy-5.jpg" width="50" class="media-object">
                </a>
                <div class="media-body">
                    <p class="newsfeed-status">What's new Charles?</p>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <textarea name="status" class="form-control share-text" rows="5" placeholder="Share your status..."></textarea>
        </div>
        <div class="panel-footer share-buttons">
            <a href="#">
                <i class="fa fa-link"></i>
            </a>
            <a href="#">
                <i class="fa fa-photo"></i>
            </a>
            <button type="submit" class="btn btn-primary btn-xs pull-right display-none" href="#">Post</button>
        </div>
    </div>
</div>
