<div class="container">
	<div class="col-md-5 col-sm-5">
	    <img src="/assets/error-cover.png" class="img-responsive">
	</div>
	<div class="col-md-5 col-sm-12 bubble">
	    <h1 class="error-header">Whoops!</h1>
	    <p class="error-content">We really want to help you find the best trip possible! Please <a href="/login">Sign in</a> to create an itinerary or <a href="/discover">search</a> for an awesome itinerary that has already been created by someone else that also loves to travel.</p>
	</div>
</div>
