<% _.each(_.groupBy(collection.models, function(val, index) { return parseInt(index / 4); }), function(row) { %>
    <div class="row">
        <% _.each(row, function(model) { %>
            <div class="col-md-3">
                <div class="guide-item">
                    <div class="guide-caption">
                        <span class="pull-left number-icon"><%= model.get('order') %></span>
                        <h4 class="text-center"><%= _.escape(model.get('title')) %></h4>
                    </div>
                    <a href="#">
                        <% if (model.get('photo')) { %>
                            <img src="<%= model.get('photo').prefix %>300x200<%= model.get('photo').suffix%>" alt="image" class="img-responsive" width="100%" />
                        <% } %>
                    </a>
                    <div class="guide-caption">
                        <textarea placeholder="Create note here..."></textarea>
                    </div>
                    <hr>
                    <a href="#"><img src="/assets/guide/yelp.png" class="yelp-logo"></a>
                    <a href="#"><img src="/assets/guide/tripadvisor.png" class="tripadvisor-logo"></a>
                </div>
            </div>
        <% }); %>
    </div>
<% }); %>
