<% if (collection.sync_status && collection.models.length > 0) { %>
    <div class="guides-container">

    </div>
<% } else { %>
    <div class="row">
        <h3 class="text-center">NO RESULT</h3>
    </div>
<% } %>
