$font-size: 7.5px; // <-- Adjust this only!
$star-width: 1.5em;

.rating {
  font-size: $font-size;
  margin: 10px 0;
}

.rating i {
  display: inline-block;
  width: 0;
  height: $star-width;
  border-width: 0 ( $star-width / 2 );
  border-style: solid;
  border-color: #eee;
  border-radius: .22em;
  color: white;
  background: #eee;
  font-style: normal;
  line-height: $star-width + 0.1em;
  text-indent: -0.5em;
  text-shadow: 1px 0 1px hsl(0, 0%, 70%);
}


/** Colors */

@function stars-color($num) {
  @if $num == 5 {
    @return #dd050b;
  } @else if $num == 4 {
    @return #f26a2c;
  } @else if $num == 3 {
    @return #f0991e;
  } @else if $num == 2 {  
    @return #dcb228;
  } @else if $num == 1 {
    @return #cc8b1f;
  }
}

@for $i from 1 through 5 {
  @for $j from 1 through $i {
    .rating-#{$i} .star-#{$j},
    .rating-#{$i}-half .star-#{$j} {
      border-color: stars-color($i);
      // set background to avoid tiny lines between borders in print.
      background: stars-color($i);
    }
  }
  .rating-#{$i}-half .star-#{$i+1} {
    border-left-color: stars-color($i);
  }
}


/** Print */

@media print {
  .rating {
    -webkit-print-color-adjust: exact;
    i {
      text-shadow: none;
    }
  }
}
