/* GENERAL */
body {
/*	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.42857143;*/
	color: #000000;
	background-color: #f7f7f7;
}

body #wrapper {
	padding-bottom: 0px;
}

div.flash-notification {
    top: 80px;
    position: fixed;
    z-index: 1001;
    width: 100%;
    padding: 0px;
}

div.flash-notification .flash-message {
    width: 100%;
    text-align: center;
    height: 3em;
    line-height: 3em;
    font-weight: 500;
}

div.flash-notification .flash-alert {
    background-color: #F0A8A8;
}

div.flash-notification .flash-notice {
    background-color: #A4E7A0;
}

.margin-top-3 {
	margin-top: 3px;
}

.margin-right-10 {
	margin-right: 10px;
}
.btn-save {
	background-color: #00629b;
	color: #fff;
}
.btn-cancel {
	background-color: #f26d65;
	color: #fff;
}
.btn-none {
	background: none;
	border: none;
	position: relative;
	bottom: 20px;
}

/* NAVBAR */

.navbar-pdf {
	background-color: #fff;
	padding: 10px 0px;
	box-shadow: 0 -7px 16px #000;
}

.navbar-primary {
	background-color: #203141;
	padding: 10px 0px;
	box-shadow: 0 -7px 16px #000;
}
.navbar-nav > li > a.dropdown-toggle {
	background-color: inherit;
}
.navbar-nav > li > a.dropdown-toggle img {
	margin-top: 8px;
	margin-right: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}
.navbar-primary .navbar-nav .open .dropdown-menu {
	margin: 15px 0px 0px 0px;
	border: 2px solid #d4d4d4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: none;
	padding: 0;
}
.navbar-primary .navbar-nav .open .dropdown-menu li a {
	padding: 8px;
	border: none;
	color: #7d888e;
}
.navbar-primary .navbar-nav .open .dropdown-menu li a:hover {
	background-color: #f5f5f5;
	color: #203141;
}
.navbar-primary .navbar-nav .open .dropdown-menu .menu-profile {
	border-bottom: 1px solid #d4d4d4;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.navbar-primary .navbar-nav .open .dropdown-menu .menu-delete {
	border-top: 1px solid #d4d4d4;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.navbar-primary .navbar-nav .top:before 
{
	content: "";
	position: absolute;
	border-width: 20px 20px 0;
	border-style: solid;
	border-color: #d4d4d4 transparent;
	display: block;
	width: 0;
	top: -15px;
	bottom: auto;
	left: auto;
	right: 20px;
	border-width: 0 15px 15px;
}

.navbar-primary .navbar-nav .top:after 
{
	content: "";
	position: absolute;
	border-width: 13px 13px 0;
	border-style: solid;
	border-color: #fff transparent;
	display: block;
	width: 0;
	top: -13px;
	bottom: auto;
	left: auto;
	right: 22px;
	border-width: 0 13px 13px;
}
.navbar-primary .navbar-form {
	margin: 0 auto;
	padding-top: 11px;
	padding-bottom: 0px;
   width: 400px;
}
.navbar-primary .nav-search {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   width: 100%;
   padding-left: 25px;
}	
.navbar-primary .nav-search::-moz-placeholder {
	font-weight: 500;
	color: #bbbcbc;
}
.navbar-primary .nav-search::-ms-input-placeholder {
	font-weight: 500;
	color: #bbbcbc;
}
.navbar-primary .nav-search::-webkit-input-placeholder {
	font-weight: 500;
	color: #bbbcbc;
}
.navbar-primary .fa-search {
	color: #bbbcbc;
	position: relative;
	bottom: 28px;
	left: 8px;
}

.navbar-primary .btn-login {
	margin-top: 11px;
	color: #fff;
	border: 1px solid #fff;
	background-color: #303030;
	font-size: 16px;
	padding: 8px 15px;
}

.navbar-primary .navbar-nav > li > a:hover,
.navbar-primary .navbar-nav > li > a:focus {
	color: #98d6ec;
	background-color: #203141;
}

.navbar-primary .navbar-nav > li > a {
	color: #fff;
	font-weight: 500;
	font-size: 14px;
	transition-property: color;
	transition-duration: .3s;
	transition-timing-function: linear;
}
.navbar-primary .navbar-nav > li.active > a {
	color: #98d6ec;
}

/* USER PROFILE */

.cover.profile {
	margin-top: 30px;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
}
.cover.profile .map-container {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 350px;
	border-bottom: 1px solid #d4d4d4;
	margin-bottom: 2px;
}
.cover.profile .cover-info .avatar img {
	width: 110px;
	height: 110px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
}
.cover.profile .cover-info .name a {
	font-size: 30px;
	text-decoration: none;
	text-shadow: 0 0 5px #202020;
	color: #fff; 
}
.cover.profile .cover-info .cover-nav > li.active > a {
	color: #666;
	font-weight: 600;
	background-color: #f5f5f5;
}
.cover.profile .cover-info .cover-nav li a:hover {
	color: #666;
	background-color: #f5f5f5;
}
.cover.profile .cover-info .new-guide-btn {
	width: 135px;
	height: 35px;
	margin-top: 10px;
	margin-right: 30px;
	background-color: #f26d65;
	border: none;
	color: #fff;
}
.panel {
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
}
.panel .tab-content .tab-heading {
	font-size: 14px;
	padding: 20px;
	margin: -15px;
	margin-bottom: 10px;
	color: #fff;
	font-weight: 600;
	background-color: #00629b;
	border-radius: 9px 9px 0 0;
}
.modal .modal-header {
	font-size: 14px;
	padding:10px;
	color: #fff;
	font-weight: 500;
	background-color: #00629b;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}
.modal .modal-body {
	padding: 25px;
}
.modal .modal-body button.btn-cancel {
	width: 150px;
	margin-left: 19%;
	background-color: #f26d65;
	color: #fff;
}
.modal .modal-body button.btn-continue {
	width: 150px;
	margin-left: 6%;
	background-color: #00629b;
	color: #fff;
}
@media (min-width: 767px) {
	.modal .modal-dialog {
		position: absolute;
		top: 20%;
		left: 50%;
		margin-left: -300px;
		margin-right: -300px;
	}
}
@media (max-width: 482px) {
	.modal .modal-body button.btn-cancel {
		width: 150px;
		margin-left:7%;
		background-color: #f26d65;
		color: #fff;
	}
	.modal .modal-body button.btn-continue {
		width: 150px;
		margin-left: 7%;
		background-color: #00629b;
		color: #fff;
	}
}

.modal .modal-header h4{
	padding:10px;
	color: #fff;
}
#guideModal .modal-content .modal-body h5 {
	margin-bottom: 10px;
	font-size: 17px;
	font-weight: 500;
}
#guideModal .modal-content .modal-body hr {
	border-top: 1px solid #d4d4d4;
}

#guideModal .modal-content .modal-body .trip-description {
	padding: 10px;
	background-color: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #d4d4d4;
	font-size: 16px;
}

/* FOLLOWER | FOLLOWERING */

.follower-header {
	margin-top: 60px;
	font-size: 32px;
	color: #00629b;
}
.follower-subheader {
	font-size: 16px;
	color: #777777;
}
.timeline {
	margin: 0 auto;
	margin-top: 50px;
}
.timeline .panel-body {
	padding: 0px;
}
.timeline .panel-body .user-img {
	border-top-left-radius: 9px;
	border-bottom-left-radius: 9px;
	border-right: 1px solid #d4d4d4;
}
.timeline .panel-body .user-info {
	border-right: 1px solid #d4d4d4;
	width: 39%;
	padding: 20px 0px;
	height: 100px;
}
.timeline .panel-body .user-info .username {
	font-weight: 500;
  	font-size: 16px;
  	color: #000;
}
.timeline .panel-body .user-info .user-follower {
  	font-size: 13px;
}
.timeline .btn-follow {
	width: 90px;
	margin: 33px 13px;
}
.timeline .btn-following {
	width: 90px;
	margin: 33px 13px;
}

/* USER GUIDE */

.guide-heading {
	margin-top: 8px;
	margin-bottom: 25px;
	padding: 10px 0px;
	background-color: #98d6ec;
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 400;
	line-height: 90%;
	height: 80px;
}
@media (max-width: 768px) {
	.guide-heading {
		margin-top: 5px;
	}
}
.guide-heading .city-guide-heading {
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	color: #fff;
}
.guide-heading input {
	color: #000;
	font-size: 18px;
	padding-right: 150px;
}
.guide-heading .btn-save {
	font-size: 10px;
	position: absolute;
	top: 105px;
	right: 530px;
}
.guide-heading .btn-cancel {
	font-size: 10px;
	position: absolute;
	top: 105px;
	right: 450px;
}
.city-guide-heading span {
	text-transform: none;
	font-size: 30px;
}
.container.guide-map {
	position: relative;
	padding: 0px;
	margin-bottom: 0px;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.container.guide-map .map-container {
	height: 400px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.guide-map .guide-description {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 25%;
	height: 100%;
	background:rgba(255,255,255, 0.7);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.guide-map .guide-description div {
	color: #000;
	width: 87%;
	min-height: 300px;
	margin: 20px;
	padding: 15px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	border: 3px dashed #98d6ec;
	background:rgba(255,255,255, 0.7);
}
.guide-map .guide-description textarea {
	color: #000;
	width: 100%;
	max-height: 248px;
	padding: 0px;
	margin: 0px;
	border: none;
	background:rgba(255, 255, 255, 0.0);
	resize: none;
}
.guide-map .guide-description hr {
	margin: 0 auto;
	border-top: 1px solid #f26d65;
}
.guide-map .guide-description .btn-save {
	background-color: #00629b;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	position: absolute;
	bottom: 90px;
	right: 60px;
}
.guide-map .guide-description .btn-cancel {
	background-color: #f26d65;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	position: absolute;
	bottom: 90px;
	left: 60px;
}
.guide-map .guide-description .btn-guide-delete {
	float: left;
	margin: 10px 20px 10px 32px;
	font-weight: 600;
	background-color: #f26d65;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #f26d65;
}
.guide-map .guide-description .btn-guide-delete:hover {
	background-color: #ec281d;
	border: 1px solid #ec281d;
}
.guide-map .guide-description .btn-guide-export {
	margin: 10px 0px 0px 0px;
	font-weight: 600;
	background-color: #00629b;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px; 
	border: 1px solid #00629b;
}
.guide-map .guide-description .btn-guide-export:hover {
	background-color: #003d60;
	border: 1px solid #003d60;
}
.guide-map .guide-description-save {
	color: white;
	background-color: #282828;
	border: none;
	position: relative;
	right: 0;
	top: 235px;
	left: 225px;
}
.guide-container {
	margin-top: 25px;
	background-color: #fff;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 
}
.guide-container .guide-searchbar {
	padding: 30px 0px;
	margin-bottom: 30px;
	border-bottom: 1px solid #d4d4d4;
}
.guide-container .guide-searchbar input {
	font-size: 17px;
	padding: 15px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: 1px solid #d4d4d4;
	background-color: #fff;
}
.guide-container .guide-item .guide-img {
	width: 100%;
	height: 180px;
}
.guide-container .guide-item .guide-caption .number-icon {
	color: #fff;
	background-color: #98d6ec;
	padding: 0px 9px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 0px;
	font-size: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px; 
}
.guide-container .guide-item .guide-caption div {
	margin: 15px 15px 10px 15px;
	width: 230px;
	height: 115px;
	font-size: 12px;
	font-weight: 500;
	padding: 10px;
	border: 2px dashed #98d6ec;
	background-color: #fbfefe;
}
.guide-container .guide-item .guide-caption textarea {
	width: 100%;
	height: 100%;
	border: none;
	padding: 0px;
	background-color: #fbfefe;
	padding-bottom: 10px;
	resize: none;
}
.guide-container .guide-item hr {
	margin-top: 0px;
	margin-bottom: 5px;
	border-top: 1px solid #d4d4d4;
}
.guide-container .guide-item .logo {
	margin: 0px 0px 7px 33px;
	display: inline;
	width: 30%;
	height: 30%
}
.guide-container .guide-item .yelp-logo, .guide-container .guide-item .tripadvisor-logo {
	margin: 0px 0px 7px 33px;
	display: inline;
	width: 30%;
	height: 17px
}
/* LOGIN */

.sign-up {
	background-attachment: scroll;
	background-image: url(../assets/login-cover.jpg);
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-top: 50px;
	width: 100%;
}

.sign-up .row .col-md-4 {
	background-color: #fff;
	padding: 40px 50px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.sign-up .row .border img {
	margin-left: 40px;
}

.sign-up .row .col-md-8 .login-text {
	font-size: 40px;
	text-align: center;
	text-shadow: 0 0 15px #202020;
	line-height: 1.25;
	color: #fff;
}

.sign-up .row .col-md-8 .login-subtext {
	font-size: 20px;
	text-align: center;
	text-shadow: 0 0 15px #202020;
	line-height: 1.25;
	color: #fff;
	margin-bottom: 20px;
}

.sign-up .row .col-md-4 .terms {
	font-size: 13px;
	margin-bottom: 25px;
}

.sign-up .row .col-md-4 .fa {
	width: 20px;
}

.sign-up .row .col-md-4 .row .col-sm-6 a {
	margin-bottom: 20px;
	font-weight: bold;
}

.sign-up .row .col-md-4 h5 {
	margin-bottom: 20px;
}

/* MESSAGE */

#message {
	margin-top: 30px;
}
.row .messages-list .list-group-item {
  padding: 0;
}
.row .messages-list .list-group-item a {
  color: #333333;
  display: block;
  text-decoration: none;
}
.row .messages-list .list-group-item:hover {
  background: #f9f9f9;
}
.row .messages-list .list-group-item.active:hover {
  background: #25ad9f;
}
.row .messages-list .list-group-item .media-body {	
  padding: 5px;
}
.row .messages-list .list-group-item .media-body .user {
  font-weight: 500;
}
.row .messages-list .list-group-item .media-body .date {
  float: right;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.4;
}
.row .messages-list .list-group-item .media-body .message {
  opacity: 0.8;
}
.row .messages-list .list-group-item.active .media-body {
  color: #fff;
}
.row .message-content {
  height: 100%;
}
.row .message-content .media {
	margin: 5px
}
.row .message-content .row a img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 65px;
}
.row .message-content .share {
	border-radius: 5px;
}
.row .message-content .input-group-btn a {
	padding-top: 15px;
	padding-bottom: 15px;
}
.row .message-content .panel {
  margin: 0px;
}
.row .message-content .panel-body {
  padding-top: 0;
}

@media (max-width: 480px) {
  .row .messages-list {
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    display: block;
  }
  .row .messages-list .panel.panel-default {
    position: relative;
    overflow-x: auto;
    background: none;
    border: 0;
    height: 50px;
  }
  .row .messages-list .panel.panel-default ul {
    height: 50px;
  }
  .row .messages-list .list-group-item {
    width: 50px;
    border: 0;
    float: left;
  }
  .row .messages-list .list-group-item .pull-left {
    margin-right: 0 !important;
  }
  .row .messages-list .list-group-item .media-body {
    display: none;
  }
  .row .messages-list .list-group-item .media .pull-left {
    opacity: 0.6;
  }
  .row .messages-list .list-group-item .media .pull-left:hover {
    opacity: 1;
  }
  .row .messages-list .list-group-item.active {
    opacity: 1;
  }
  .row .message-content .row a img {
  		width: 40px;
  }
}
@media (min-width: 480px) and (max-width: 1080px) {
  .row .messages-list {
    width: auto;
  }
  .row .messages-list .list-group-item .media .pull-left {
    margin-right: 0 !important;
  }
  .row .messages-list .list-group-item .media .media-body {
    display: none;
  }
  .row .messages-list .list-group-item .media .pull-left {
    opacity: 0.6;
  }
  .row .messages-list .list-group-item .media .pull-left:hover {
    opacity: 1;
  }
  .row .messages-list .list-group-item.active .media .pull-left {
    opacity: 1;
  }
}

.row .message-content .share {
  margin-bottom: 30px;
}

/* SEARCH */

.navbar-sort {
	width: 100%;
	margin-top: 10px;
	padding: 20px 0px;
	background-color: #f7f7f7;
	position: fixed;
	z-index: 1000;
}

.navbar-sort .btn-group {
	display: inline;
}

.navbar-sort .btn-group button {
	background-color: #fff;
	color: #25ABE1;
	height: 40px;
	width: 33%;
	border: 1px solid #25ABE1;

}
.navbar-sort .btn-group button:hover {
	background-color: #25ABE1;
	color: #fff;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
}
.navbar-sort .btn-group .btn.active {
	background-color: #25ABE1;
	color: #fff;
}

.search-container {
	height: 650px;
	background-image: url(../assets/search-cover.jpg);
	background-repeat: repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	width: 100%;
}
.search-container .col-md-6 {
	padding: 0px;
	margin-top: 20%;
	background-color: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.search-container .search-bar {
	padding: 15px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.search-container .search-bar input{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 50px;
	font-size: 16px;
	background-color: #fff;
}
.search-container .search-bar .fa-search {
	color: #bbbcbc;
	position: absolute;
	top: 30px;
	right: 30px;
	font-size: 18px;
}
.search-container .form-control::-moz-placeholder {
	font-weight: 500;
	color: #bbbcbc;
}
.search-container .form-control::-ms-input-placeholder {
	font-weight: 500;
	color: #bbbcbc;
}
.search-container .form-control::-webkit-input-placeholder {
	font-weight: 500;
	color: #bbbcbc;
}
.container.search-result {
	margin-top: 98px;
}

/* NEWSFEED */

#newsfeed {
	margin: 0 auto;
	margin-top: 40px;
}
#newsfeed .media .media-object {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.timeline-block {
	margin: 3px 10px 2px 10px;
	width: 360px;
}
.timeline-block .newsfeed .panel-heading {
	padding: 5px;
	color: #000;
	background-color: #fff;
	border-bottom: 1px solid #d4d4d4;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;	
}
.timeline-block .newsfeed .panel-heading .media .newsfeed-user {
	font-size: 14px;
	font-weight: 500;
	color: #000;
}
.timeline-block .newsfeed .panel-heading .media .newsfeed-date {
	font-size: 12px;
	font-weight: 500;
	color: #777777;
}
.timeline-block .newsfeed .panel-heading .media .media-body .newsfeed-status {
	font-size: 20px;
	font-weight: 400;
}
.timeline-block .newsfeed .panel-body {
	padding: 10px 20px;
}
.timeline-block .newsfeed .panel-body .form-control.share-text {
	padding: 10px;
	border: 3px dashed #98d6ec;
}
.timeline-block .newsfeed .panel-body .boxed {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #d4d4d4;
}
.timeline-block .newsfeed .panel-body .boxed .box-header {
	color: #00629b;
	font-size: 18px;
	font-weight: 500;
}
.timeline-block .newsfeed .panel-body .boxed .box-content {
	font-size: 12px;
	font-weight: 400;
}
.timeline-block .newsfeed .panel-footer {
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;	
}
.timeline-block .newsfeed .view-all-comments {
	padding: 8px 25px;
	border-bottom: 1px solid #d4d4d4;
	background-color: #fff;
}
.timeline-block .newsfeed .view-all-comments a {
	color: #bbbcbc;
}
.timeline-block .newsfeed .view-all-comments a:hover {
	text-decoration: none;
	color: #00629b;
}
.timeline-block .newsfeed .view-all-comments .margin-left-25 {
	margin-left: 25px;
}
.timeline-block .newsfeed ul.comments a.comment-author {
	color: #00629b;
	font-weight: 400;
	font-size: 14px;
}
.timeline-block .newsfeed ul.comments .comment-date {
	color: #777777;
}
.timeline-block .newsfeed ul.comments li {
	background-color: #f7f7f7;
}
.timeline-block .newsfeed ul.comments li.comment-form {
	background-color: #fff;
	padding: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
.timeline-block .newsfeed ul.comments li.comment-form input{
	font-size: 12px;
	padding: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #f7f7f7;
}

/* FOOTER */

footer {
    margin-top: 30px;	
    padding: 25px 0;
    text-align: center;
    background-color: #203141;
}

footer span.copyright {
    text-transform: uppercase;
    color: #fff;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}
footer ul.quicklinks li a {
    color: #fff;
}
ul.social-buttons {
    margin-bottom: 0;
}
ul.social-buttons li a {
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	outline: 0;
	color: #203141;
	background-color: #fff;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	padding-top: 10px;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
	color: #fff;
	background-color: #99d4e9;	
}

/* GUIDE ITEM */

.guide-item {
	margin-bottom: 15px;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #fff;
}
.guide-item:hover {
	box-shadow: 0px 0px 10px 0px #888;
	-webkit-transition: all ease .3s;
	-moz-transition: all ease .3s;
	transition: all ease .3s;
}
.guide-item .guide-link {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 100%;
}
.guide-item img {
	width: 100%;
	height: 225px;
}
.guide-item .guide-link .guide-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #99d4e9;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
}
.guide-item .guide-link .guide-hover:hover {
	opacity: .9;
}
.guide-item .guide-link .guide-hover .guide-hover-content {
	position: absolute;
	border-radius: 5px;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.guide-item .guide-link .guide-hover .guide-hover-content i {
	margin-top: -12px;		
}
.guide-item .guide-link .guide-hover .guide-hover-content h3,
.guide-item .guide-link .guide-hover .guide-hover-content h4 {
	margin: 0;
}
.guide-item .guide-caption {
	margin: 0 auto;
	max-width: 400px;
}
.guide-item .guide-caption h4 {
	text-align: center;
	margin: 5px;
	padding: 10px; 
	text-transform: none;
}
.guide-item .guide-caption h4 a {
	color: #4d4d4d;
}
.guide-item .guide-caption .guide-author {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 10px 15px 10px 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	border-bottom: solid 1px #d4d4d4;
}
.guide-item .guide-caption .guide-author span{
	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
}
.guide-item .guide-caption .guide-content {
	margin-bottom: 0px;
	padding: 10px 15px;
	height: 120px;
}
.guide-item .guide-caption hr {
	margin-top: 0px;
	margin-bottom: 10px;
	border-top: 1px solid #d4d4d4;
}
.guide-item .guide-caption .guide-socialMeta{
	margin-left: -40px;
	margin-right: 5px;
	margin-bottom: 10px;
	list-style-type: none;
}
.guide-item .guide-caption .guide-socialMeta li{
	display: inline-block;
	margin: 0px 15px;
}
.guide-item .guide-caption .guide-socialMeta li a{
	text-decoration: none;
	margin-bottom: 0px;
}

/* Guide Modal */

.guide-modal .modal-content {
    padding: 5px 0px 100px 0px;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.guide-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.guide-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
}

.guide-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.guide-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.guide-modal .close-modal:hover {
    opacity: .3;
}

.guide-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.guide-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.guide-modal .modal-content .guide-container h3 {
	color: #fff;
	padding: 20px 0px;
	margin-bottom: 20px;
	background-color: #00ced1;
}

.guide-item .delete {
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	visibility: hidden;
	background-color: #f26d65;
	color: #fff !important;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
	top: -17px;
	right: -11px;
	width: 22px;
	height: 22px;
}

.guide-item:hover .delete {
	visibility: visible;
}

/* LIKE, COMMENT MODAL */
.comment-modal .modal-content {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.comment-modal .modal-content .modal-body {
  padding: 10px 0px 0px 0px;
}
.comment-modal .modal-content .modal-body ul.comments {
  list-style: none;
  padding: 0;
  border-top: 1px solid #efefef;
  margin-bottom: 0;
}
.comment-modal .modal-content .modal-body ul.comments .media-object{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.comment-modal .modal-content .modal-body ul.comments .btn-follow {
	float: right;
	position: relative;
	bottom: 42px;
	right: 15px;
	width: 90px;
	color: #fff;
	background-color: #98d6ec;
}
.comment-modal .modal-content .modal-body ul.comments .btn-follow:hover {
	background-color: #00629b;
}
.comment-modal .modal-content .modal-body ul.comments .btn-following {
	float: right;
	position: relative;
	bottom: 42px;
	right: 15px;
	width: 90px;
	color: #fff;
	background-color: #00629b;
}
.comment-modal .modal-content .modal-body ul.comments .btn-following:hover {
	background-color: #98d6ec;
}
.comment-modal .modal-content .modal-body ul.comments li {
  border-bottom: 3px solid #fff;
  background: #fcfcfc;
  padding: 5px;
}
.comment-modal .modal-content .modal-body ul.comments li.comment-form {
	background-color: #fff;
	padding: 10px;
}
.comment-modal .modal-content .modal-body ul.comments li.comment-form input{
	font-size: 12px;
	padding: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #f7f7f7;
}
.comment-modal .modal-content .modal-body ul.comments a.comment-author {
  font-weight: 500;
  font-size: 14px;
  color: #00629b;
}
.comment-modal .modal-content .modal-body ul.comments .comment-date {
  color: #777777;
  font-size: 12px;
}

/* Error 404 */
.container-fluid.error-container {
	margin-top: 50px;
	height: 100%;
}

.error-container .col-lg-6 {
	padding: 40px;
	margin-top: 130px;
	border-radius: 10px;
	background-color:rgba(0, 0, 0, 0.5);
}

.error-container .error-header {
	margin: 0px 0px 25px 0px;
	font-size: 40px;
	color: #00629b;
}
.error-container .error-content {
	font-size: 15px;
	color: #203141;	
}
.error-container .error-content a{
	font-size: 15px;
	color: #f26d65;	
}

.bubble 
{
	margin-top: 120px;
	width: 38%;
	height: 100%;
	padding: 40px;
	background: #FFFFFF;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: #d4d4d4 solid 1px;
}

.bubble:after 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 25px 15px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	left: -25px;
	top: 31px;
}

.bubble:before 
{
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 25px 15px 0;
	border-color: transparent #7F7F7F;
	display: block;
	width: 0;
	z-index: 0;
	left: -26px;
	top: 31px;
}

/* GUIDE-PDF */
#guide-pdf {
	width: 1436px;	
	background-color: #fff;
	padding-bottom: 0px;
}
#guide-pdf .pdf-heading {
	margin-top: 10px;
	margin-bottom: 50px;
	padding: 15px 0px 10px 0px;
	background-color: #98d6ec;
	text-transform: uppercase;
	font-size: 50px;
	color: #fff;
	font-weight: 400;
	line-height: 90%;
}
#guide-pdf .pdf-heading span {
	text-transform: none;
	font-size: 35px;
}
#guide-pdf #pdf-content {
	background-color: #fff;
	padding: 0px 15px;
}
#guide-pdf #pdf-content .pdf-item {
	width: 20%;
	float: left;
	margin: 0px 35px 20px 35px;
	border: solid 2px #00629b;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-caption {
	background-color: #00629b;
	margin-bottom: 10px;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-caption .item-number {
	margin-top: 7px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: 600;
	color:#fff;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-caption h5 {
	margin: 0px 15px 0px 0px;
	padding: 8px 0px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-caption h5 span{
	font-weight: 400;
	text-transform: none;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-content {
	padding: 0px 20px
}
#guide-pdf #pdf-content .pdf-item .pdf-item-content .address {
	color: #00629b;
	padding-bottom: 10px;
	border-bottom: solid 2px #00629b;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-content .logos {
	float: left;
	margin: 0px 8px 10px 8px;
}
#guide-pdf .map-img{
	margin-top: 30px;
	box-shadow: 0 0px 8px #000;
}
#guide-pdf .map-caption {
	position: absolute;
	top: 1260px;
	right:0;
	width: 400px;
	height: 400px;
	padding: 30px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background:rgba(255,255,255, 0.8);
}
#guide-pdf .map-caption h1{
	color: #f26d65;
	font-weight: 400;
	padding-bottom: 20px;
	border-bottom: 2px solid #f26d65;
}
#guide-pdf .map-caption h2{
	color: #00629b;
}  
#guide-pdf .map-caption h3{
	color: #000;
	font-weight: 400;
	font-size: 20px;
}

/* TYPEAHEAD */

.js-modal-city {
	width: 100%;
	padding: 20px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #d4d4d4;
	font-size: 16px;
	background-color: #fff;
}
span.twitter-typeahead .tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
	display: block;
	padding: 3px 20px;
	margin-bottom: 0px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	background-color: #428bca;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
	color: #ffffff;
	background-color: #428bca;
}
span.twitter-typeahead {
	width: 100%;
}
.input-group span.twitter-typeahead {
	display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
	top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
	top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
	top: 28px !important;
}

.avatar:hover span.text-content {
	opacity: 1;
}

.avatar label {
	cursor: pointer;
}

span.text-content {
	background: rgba(0,0,0,0.5);
	color: white;
	cursor: pointer;
	display: table;
	left: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	opacity: 0;
	text-align: center;
	-webkit-transition: opacity 500ms;
	-moz-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
}

.text-break-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}