/* GENERAL */

body {
/*	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 14px;
	line-height: 1.42857143;*/
	color: #333333;
	background-color: #ededed;
}

body #wrapper {
	padding-bottom: 0px;
}

div.flash-notification {
    top: 80px;
    position: fixed;
    z-index: 1001;
    width: 100%;
    padding: 0px;
}

div.flash-notification .flash-message {
    width: 100%;
    text-align: center;
    height: 3em;
    line-height: 3em;
    font-weight: 500;
}

div.flash-notification .flash-alert {
    background-color: #F0A8A8;
}

div.flash-notification .flash-notice {
    background-color: #A4E7A0;
}

.margin-top-3 {
	margin-top: 3px;
}

.margin-right-10 {
	margin-right: 10px;
}

/* NAVBAR */

.navbar-primary {
	background-color: #fff;
	padding: 10px 0px;
	box-shadow: 0 -7px 16px #000;
}

.navbar-primary .nav-search {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   width: 20em;
   height: 40px;
}

.navbar-primary .nav-search:hover {
	-webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   width: 30em;
}

.navbar-primary .fa-search {
	position: relative;
	top: 0px;
	right: 30px;
}

.navbar-primary .btn-login {
	margin-top: 11px;
	color: #fff;
	border: 1px solid #fff;
	background-color: #303030;
	font-size: 16px;
	padding: 8px 15px;
}

.navbar-subnav {
	background-color: #99d5e9;
 	border: none;
 	padding: 1px;
  	margin: 10px 0 -1px;
}

.navbar-subnav .navbar-nav > li > a {
  color: #1c1e2b;
  font-weight: 500;
  padding-top: 2px;
  padding-bottom: 0px;
  	transition-property: color;
  	transition-duration: .5s;
  	transition-timing-function: linear;
}

/* USER PROFILE */

.cover.profile {
position: relative;
border: 1px solid #efefef;
border-radius: 0 0 5px 5px;
}

.cover.profile .cover-info .avatar img {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid #fff;
}


.cover.profile .cover-info .cover-follow {
	margin-right: 20px;
	margin-top: 11px;  
}

.cover.profile .cover-info .cover-new-guide {
	margin-right: 20px;
	margin-top: 11px;  
}

.cover.profile .cover-info .cover-nav > li.active > a {
	color: #666;
	font-weight: 600;
}

.panel .tab-content .tab-heading {
	font-size: 14px;
	padding: 20px;
	margin: -15px;
	margin-bottom: 10px;
	color: #fff;
	font-weight: 600;
	background-color: #f26d64;
	border-radius: 5px 5px 0 0;
}

.modal .modal-header {
	font-size: 14px;
	padding:10px;
	color: #fff;
	font-weight: 500;
	background-color: #25ad9f;
}

@media (min-width: 767px) {
	.modal .modal-dialog {
		position: absolute;
		top: 20%;
		left: 50%;
		margin-left: -300px;
		margin-right: -300px;
	}
}

.modal .modal-header h4{
	padding:10px;
	color: #fff;
}

.panel-default:hover {
	box-shadow: 0px 1px 44px -3px #888;
	-webkit-transition: all ease .8s;
	-moz-transition: all ease .8s;
	transition: all ease .8s;
}

/* FOLLOWER | FOLLOWERING */

.timeline .btn-follow {
	position: relative;
	top: 30px;
	left: 150px;
	width: 88px;
}

.timeline .btn-following {
	position: relative;
	top: 30px;
	left: 150px;
}

/* USER GUIDE */

.navbar-title {
	margin: 0px;
	background-color: #00ced1;
}

.navbar-title .navbar-brand{
	color:#fff;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.btn-guide-delete, .btn-guide-export {
	margin-left: 10px;
	margin-top: 10px;
}

@media (max-width: 767px) {
	.navbar-title .navbar-brand {
		color:#fff;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
	}

	.navbar .btn-guide-delete, .btn-guide-export {
		margin-right: 15px;
		margin-top: 10px;
	}
}

.header{
	background-attachment: scroll;
	background-image: url(../assets/profile-cover.png);
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	height: 400px;
	width: 80%;
	display: inline-block;
}

.guide-description {
	height:400px;
	width: 20%;
	display: inline-block;
	background-color: #282828;
}

.guide-description textarea {
	color: #fff;
	background-color: #282828;
	border: none;
	resize: none;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	border-bottom: 1px solid #fff
}

.guide-description input {
	color: #fff;
	background-color: #282828;
	padding: 4px 20px 12px;
	border: none;
	width: 100%;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5em;
	border-bottom: 1px solid #fff
}

.guide-description-save {
	color: white;
	background-color: #282828;
	border: none;
	position: relative;
	right: 0;
	top: 235px;
	left: 225px;
}

.guide-container {
	margin-top: 25px;
}

.guide-container .guide-searchbar {
	margin-top: 30px;
	margin-bottom: 20px;
}

.guide-container .guide-searchbar::-webkit-input-placeholder {
  color:    #787878;
}

.guide-container .guide-searchbar:-moz-placeholder {
  color:    #787878;
}

.guide-container .guide-searchbar::-moz-placeholder {
  color:    #787878;
}

.guide-container .guide-searchbar:-ms-input-placeholder {
  color:    #787878;
}

.guide-container .panel-body .review {
	font-size: 12px;
	font-weight: bold;
}

.guide-container .panel-body .review-rating {
	margin-top: 8px;
	font-size: 12px;
}

/* LOGIN */

.sign-up {
	background-attachment: scroll;
	background-image: url(../assets/login-cover.jpg);
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	padding-top: 50px;
	width: 100%;
}

.sign-up .row .col-md-4 {
	background-color: #fff;
	padding: 40px 50px 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.sign-up .row .border img {
	margin-left: 40px;
}

.sign-up .row .col-md-8 .login-text {
	font-size: 40px;
	text-align: center;
	text-shadow: 0 0 15px #202020;
	line-height: 1.25;
	color: #fff;
}

.sign-up .row .col-md-8 .login-subtext {
	font-size: 20px;
	text-align: center;
	text-shadow: 0 0 15px #202020;
	line-height: 1.25;
	color: #fff;
	margin-bottom: 20px;
}

.sign-up .row .col-md-4 .terms {
	font-size: 13px;
	margin-bottom: 25px;
}

.sign-up .row .col-md-4 .fa {
	width: 20px;
}

.sign-up .row .col-md-4 .row .col-sm-6 a {
	margin-bottom: 20px;
	font-weight: bold;
}

.sign-up .row .col-md-4 h5 {
	margin-bottom: 20px;
}

/* MESSAGE */

#message {
	margin-top: 30px;
}
.row .messages-list .list-group-item {
  padding: 0;
}
.row .messages-list .list-group-item a {
  color: #333333;
  display: block;
  text-decoration: none;
}
.row .messages-list .list-group-item:hover {
  background: #f9f9f9;
}
.row .messages-list .list-group-item.active:hover {
  background: #25ad9f;
}
.row .messages-list .list-group-item .media-body {	
  padding: 5px;
}
.row .messages-list .list-group-item .media-body .user {
  font-weight: 500;
}
.row .messages-list .list-group-item .media-body .date {
  float: right;
  font-size: 12px;
  font-weight: 500;
  opacity: 0.4;
}
.row .messages-list .list-group-item .media-body .message {
  opacity: 0.8;
}
.row .messages-list .list-group-item.active .media-body {
  color: #fff;
}
.row .message-content {
  height: 100%;
}
.row .message-content .media {
	margin: 5px
}
.row .message-content .row a img {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	width: 65px;
}
.row .message-content .share {
	border-radius: 5px;
}
.row .message-content .input-group-btn a {
	padding-top: 15px;
	padding-bottom: 15px;
}
.row .message-content .panel {
  margin: 0px;
}
.row .message-content .panel-body {
  padding-top: 0;
}

@media (max-width: 480px) {
  .row .messages-list {
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    width: 100%;
    display: block;
  }
  .row .messages-list .panel.panel-default {
    position: relative;
    overflow-x: auto;
    background: none;
    border: 0;
    height: 50px;
  }
  .row .messages-list .panel.panel-default ul {
    height: 50px;
  }
  .row .messages-list .list-group-item {
    width: 50px;
    border: 0;
    float: left;
  }
  .row .messages-list .list-group-item .pull-left {
    margin-right: 0 !important;
  }
  .row .messages-list .list-group-item .media-body {
    display: none;
  }
  .row .messages-list .list-group-item .media .pull-left {
    opacity: 0.6;
  }
  .row .messages-list .list-group-item .media .pull-left:hover {
    opacity: 1;
  }
  .row .messages-list .list-group-item.active {
    opacity: 1;
  }
  .row .message-content .row a img {
  		width: 40px;
  }
}
@media (min-width: 480px) and (max-width: 1080px) {
  .row .messages-list {
    width: auto;
  }
  .row .messages-list .list-group-item .media .pull-left {
    margin-right: 0 !important;
  }
  .row .messages-list .list-group-item .media .media-body {
    display: none;
  }
  .row .messages-list .list-group-item .media .pull-left {
    opacity: 0.6;
  }
  .row .messages-list .list-group-item .media .pull-left:hover {
    opacity: 1;
  }
  .row .messages-list .list-group-item.active .media .pull-left {
    opacity: 1;
  }
}

.row .message-content .share {
  margin-bottom: 30px;
}

/* RANDOM */
.timeline-block .user-box {
	width: 350px;
}

/* SEARCH */

.navbar-sort {
	width: 100%;
	padding: 20px 0px;
	background-color: #ededed;
	position: fixed;
	z-index: 1000;
}

.navbar-sort .btn-group {
	display: inline;
}

.navbar-sort .btn-group button {
	height: 40px;
	width: 33%;
}

.navbar-sort .btn-group .btn-default {
	color: #fff;
	background-color: #428bca;
}
.navbar-sort .btn-group .btn-default:hover {
	color: #fff;
	background-color: #000;
}

.search-container {
	height: 550px;
	background-image: url(../assets/search-cover.jpg);
	background-repeat: repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	width: 100%;
}

.search-container .col-md-8 {
	padding: 40px 20px;
	margin-top: 170px;
	border-radius: 10px;
	background-color:rgba(0, 0, 0, 0.2);
	text-shadow: 0 0 15px #000	;
}

.search-container .search-header {
	font-size: 45px;
	font-weight: 500;
	color: #fff;
}

.search-container .search-bar {
	margin-top: 40px;
	margin-bottom: 30px;
}

.search-container .search-bar input{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	height: 50px;
	font-size: 18px;
}


/* FOOTER */

footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    text-transform: uppercase;
    color: #00629b;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    text-transform: none;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #99d4e9;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #00629b;
}

/* GUIDE */

.guide-heading {
	margin: 15px 0;
	text-transform: none;
}

.guide-item {
	margin-bottom: 15px;
	box-shadow: 0px 1px 5px -3px #888;
	-webkit-transition: all ease .8s;
	-moz-transition: all ease .8s;
	transition: all ease .8s;
}

/* FOOTER */

.guide-item:hover {
	box-shadow: 0px 1px 44px -3px #888;
	-webkit-transition: all ease .8s;
	-moz-transition: all ease .8s;
	transition: all ease .8s;
}

.guide-item .guide-link {
	display: block;
	position: relative;
	margin: 0 auto;
	max-width: 100%;
}

.guide-item img {
	width: 100%;
	height: 225px;
}

.guide-item .guide-link .guide-hover {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #99d4e9;
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	transition: all ease .5s;
}


.guide-item .guide-link .guide-hover:hover {
	opacity: .9;
}

.guide-item .guide-link .guide-hover .guide-hover-content {
	position: absolute;
	border-radius: 5px;
	top: 50%;
	width: 100%;
	height: 20px;
	margin-top: -12px;
	text-align: center;
	font-size: 20px;
	color: #fff;
}

.guide-item .guide-link .guide-hover .guide-hover-content i {
	margin-top: -12px;		
}

.guide-item .guide-link .guide-hover .guide-hover-content h3,
.guide-item .guide-link .guide-hover .guide-hover-content h4 {
	margin: 0;
}

.guide-item .guide-caption {
	margin: 0 auto;
	padding: 10px;  
	max-width: 400px;
	background-color: #fff;
	border-radius: 0 0 5px 5px;
}

.guide-item .guide-caption h4 {
	margin: 0px;
	text-transform: none;
}

.guide-item .guide-caption .guide-author {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 5px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	border-bottom: solid 1px #A9A9A9;
}
.guide-item .guide-caption .guide-author span{
	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
.guide-item .guide-caption .guide-content {
	margin-top: 5px;
	margin-bottom: 10px;
}
.guide-item .guide-caption .guide-socialMeta{
	margin-left: -50px;
	margin-bottom: 0px;
	list-style-type: none;
}
.guide-item .guide-caption .guide-socialMeta li{
	display: inline-block;
	margin: 0px 10px;
}
.guide-item .guide-caption .guide-socialMeta li a{
	text-decoration: none;
	margin-bottom: 0px;
}

/* Guide Modal */

.guide-modal .modal-content {
    padding: 5px 0px 100px 0px;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;

}

.guide-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.guide-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style: italic;
}

.guide-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.guide-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.guide-modal .close-modal:hover {
    opacity: .3;
}

.guide-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.guide-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.guide-modal .modal-content .guide-container h3 {
	color: #fff;
	padding: 20px 0px;
	margin-bottom: 20px;
	background-color: #00ced1;
}

/* Error 404 */
#error {
	height: 600px;
	background-image: url(../assets/error-cover.png);
	background-position: center center;
	background-repeat: none;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}

#error .container .col-lg-6 {
	padding: 40px;
	margin-top: 130px;
	border-radius: 10px;
	background-color:rgba(0, 0, 0, 0.5);
}

#error .container h1 {
	margin-bottom: 40px;
	font-size: 45px;
	color: #fff;
	text-shadow: 0 0 15px #202020;
}

#error .container h3 {
	font-size: 28px;
	color: #fff;
	text-shadow: 0 0 15px #202020;
	line-height: 120%;	
}

/* GUIDE-PDF */
#guide-pdf {
	width: 1436px;	
	background-color: #fff;
	padding-bottom: 0px;
}
#guide-pdf .pdf-heading {
	margin-top: 10px;
	margin-bottom: 50px;
	padding: 15px 0px 10px 0px;
	background-color: #98d6ec;
	text-transform: uppercase;
	font-size: 50px;
	color: #fff;
	font-weight: 400;
	line-height: 90%;
}
#guide-pdf .pdf-heading span {
	text-transform: none;
	font-size: 35px;
}
#guide-pdf #pdf-content {
	background-color: #fff;
	padding: 0px 15px;
}
#guide-pdf #pdf-content .pdf-item {
	width: 20%;
	float: left;
	margin: 0px 35px 20px 35px;
	border: solid 2px #00629b;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-caption {
	background-color: #00629b;
	margin-bottom: 10px;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-caption .item-number {
	margin-top: 7px;
	margin-left: 10px;
	font-size: 16px;
	font-weight: 600;
	color:#fff;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-caption h5 {
	margin: 0px 15px 0px 0px;
	padding: 8px 0px;
	font-weight: 600;
	text-transform: uppercase;
	color: #fff;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-caption h5 span{
	font-weight: 400;
	text-transform: none;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-content {
	padding: 0px 20px
}
#guide-pdf #pdf-content .pdf-item .pdf-item-content .address {
	color: #00629b;
	padding-bottom: 10px;
	border-bottom: solid 2px #00629b;
}
#guide-pdf #pdf-content .pdf-item .pdf-item-content .logos {
	float: left;
	margin: 0px 8px 10px 8px;
}
#guide-pdf .map-img{
	margin-top: 30px;
	box-shadow: 0 0px 8px #000;
}
#guide-pdf .map-caption {
	position: absolute;
	top: 1260px;
	right:0;
	width: 400px;
	height: 400px;
	padding: 30px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background:rgba(255,255,255, 0.8);
}
#guide-pdf .map-caption h1{
	color: #f26d65;
	font-weight: 400;
	padding-bottom: 20px;
	border-bottom: 2px solid #f26d65;
}
#guide-pdf .map-caption h2{
	color: #00629b;
}  
#guide-pdf .map-caption h3{
	color: #000;
	font-weight: 400;
	font-size: 20px;
}

/* TYPEAHEAD */

span.twitter-typeahead .tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	text-align: left;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
}
span.twitter-typeahead .tt-suggestion > p {
	display: block;
	padding: 3px 20px;
	margin-bottom: 0px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}
span.twitter-typeahead .tt-suggestion > p:hover,
span.twitter-typeahead .tt-suggestion > p:focus {
	color: #ffffff;
	text-decoration: none;
	outline: 0;
	background-color: #428bca;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
	color: #ffffff;
	background-color: #428bca;
}
span.twitter-typeahead {
	width: 100%;
}
.input-group span.twitter-typeahead {
	display: block !important;
}
.input-group span.twitter-typeahead .tt-dropdown-menu {
	top: 32px !important;
}
.input-group.input-group-lg span.twitter-typeahead .tt-dropdown-menu {
	top: 44px !important;
}
.input-group.input-group-sm span.twitter-typeahead .tt-dropdown-menu {
	top: 28px !important;
}

