<div class="comment-modal modal fade" id="comment" tabindex="-1" role="dialog" aria-labelledby="guideModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><%= title %></h4>
            </div>
                <div class="modal-body">
                    <% if (collection.models.length > 0) { %>
                        <ul class="comments" style="max-height: 300px; overflow: scroll">
                            <% _.each(collection.models, function(model) { %>
                                <li class="item" data-id="<%= model.get('id') %>">
                                </li>
                            <% }); %>
                        </ul>
                    <% } else { %>
                        <h4 class="text-center">Be the first one to comment on this story!</h4>
                    <% } %>
                    <% if (collection.has_more) { %>
                        <p class="text-center"><a class="js-more" href="javascript:void(0)">See more</a></p>
                    <% } %>
                    <div class="comment-form">
                        <input type="text" class="form-control" placeholder="Write a comment..." />
                    </div>
                </div>
        </div>
    </div>
</div>
