<div class="image-uploader-modal modal fade" id="comment" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Upload a photo</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <input type="text" class="form-control input-lg pull-left js-image-url" style="height: 36px; width: 380px" placeholder="Enter an URL here">
                    <span class="btn btn-primary js-upload-url" style="margin-left: 20px">Upload from URL</span>
                    <h4 class="text-center">OR</h4>
                    <form class="dropzone" action="/rest/images" method="post" enctype="multipart/form-data">
                        <span class="dz-message js-upload-computer btn btn-primary">Upload from your computer</span>
                    </form>
                    <div class="upload-info" style="display: none">
                        <img src="/assets/spinner.gif" width="20"> Upload in progress
                    </div>
                </div>
            </div>
<!--             <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div> -->
        </div>
    </div>
</div>
